.main {
    min-width: 1167px;
}

#sets a {
    color: #fff;
    text-decoration: none;
}

#sets .set-header {
    position: absolute;
    bottom: 11px;
    left: 12px;
    z-index: 1;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
    padding: 20px;
}

#sets .set-header h2 {
    border-bottom: none;
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    line-height: 28px;
    z-index: 1000;
}

#sets .set-header p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 2px;
    margin: 0px;
    z-index: 1000;
}

#sets .set-header p a {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-weight: 200;
}

#sets .set-big {
    position: relative;
}

#sets .set-big .hero {
    float: left;
    width: 280px;
    height: 280px;
    padding: 5px 6px 0px 5px;
    margin: 0;
}

#sets .set-big .set-content {
    float: left;
    width: 876px;
    padding: 5px 0px 0px;
    margin: 0;
}

#sets .set-big .set-content .item {
    width: 140px;
    height: 137px;
    float: left;
    padding: 0px;
    margin: 0px 6px 6px 0px;
}

#sets .filled {
    padding: 0px;
    background-color: #D1D1D1;
    border-radius: 1px;
    margin: 40px 0px;
}

#sets .item {
    overflow: hidden !important;
}

#sets .large {
    width: 286px !important;
    height: 280px !important;
}

#sets .large img {
    width: 286px;
}

#sets .link-tile {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    background: none repeat scroll 0% 0% #6A9B6A;
}

#sets .link-tile a {
    display: block;
}

#sets .link-tile strong {
    display: block;
    font-size: 32px;
    line-height: 140px;
    padding: 0px;
}

#sets .link-tile.large strong {
    font-size: 32px;
    line-height: 280px;
}

#sets .clear {
    float: none;
    clear: both;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.wrap {
}
