<html>
    <head>
        <script language="JavaScript">
            TargetDate = "10/27/2014 8:00 PM";
            BackColor = "black";
            ForeColor = "white";
            CountActive = true;
            CountStepper = -1;
            LeadingZero = true;
            DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
            FinishMessage = "So long and thanks for all the fish!"
        </script>
        <script src="/static/js/countdown.js"></script>
        <style>
        .slideshow {
            width: 100%;
            height: 100%;
            position: relative;
            float: left;
        }

        .slideshow img {
            position: relative;
            min-width: 90%;
            height: auto;
            top: 0px;
            left: 0px;
        }
        </style>
        <title>So long and thanks for all the fish!</title>
    </head>
    <body bgcolor="black">
    <br>
    <div class="slideshow">
        <img src="/static/img/fish/fish1.jpg"/>
        <img src="/static/img/fish/fish2.jpg"/>
        <img src="/static/img/fish/fish3.jpg"/>
        <img src="/static/img/fish/fish4.jpg"/>
        <img src="/static/img/fish/fish5.jpg"/>
        <img src="/static/img/fish/fish6.jpg"/>
        <img src="/static/img/fish/fish7.jpg"/>
    </div>
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/slideshow.js"></script>
    </body>
</html>
