<html>
    <head>
        <script language="JavaScript">
            TargetDate = "10/27/2014 12:00 PM";
            BackColor = "white";
            ForeColor = "black";
            CountActive = true;
            CountStepper = -1;
            LeadingZero = true;
            DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
            FinishMessage = "So long and thanks for all the fish!"
        </script>
        <script src="/static/js/countdown.js"></script>
    </head>
</html>
